/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-padding: 80px;
    --main-color: #09d9ff;
    --secound-color: #607d8b;
    --text-color: #777;
    --main-transition: .4s;
    --line-height: 1.6
}

body {
    font-family: 'Open Sans', sans-serif, Tahoma, Geneva, Verdana;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

a {
    text-decoration: none;
}

/********************** End Style Global Rouls ***********************/

/********************** start Style commpotants ***********************/

.main-heading {
    width: fit-content;
    margin: 0 auto var(--main-padding);
    text-transform: uppercase;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-color);
    user-select: none;
    padding: 15px;
    border: 2px solid var(--main-color);
    position: relative;
    overflow: hidden;
}

.main-heading::before {
    content: attr(data-text);
    position: absolute;
    top: 15px;
    left: 15px;
    width: 0;
    -webkit-text-fill-color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    transition: .7s;
}

.main-heading:hover::before {
    width: 100%;
}

@media (max-width: 767px) {
    .main-heading {
        font-size: 30px;
    }
}

/********************** End Style commpotants ***********************/

/********************** start style special sections ***********************/

.setting {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 100;
    width: 250px;
    background-color: var(--secound-color);
    color: white;
    transition: 1s;
}

.setting.open {
    transform: translateX(0);
}

.setting .gear-icon {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    background-color: var(--secound-color);
    color: white;
    font-size: 24px;
    transform: translate(100%, -50%);
    cursor: pointer;
}

.setting .content {
    padding: 40px 15px
}

.setting .content article.option {
    background-color: rgba(250, 250, 250, .3);
    padding: 25px 15px;
    border-radius: 4px;
    border: 1px solid rgba(250, 250, 250, .4);
    margin-bottom: 25px;
}

.setting .content article h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
}

.setting .content article h3::after {content: " :"}

.setting .content article ul.colors {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.setting .content ul.colors li {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
}

.setting .content ul.colors li.active {
    opacity: 1;
    border: 2px solid white;
}

.setting .content ul.colors li:nth-of-type(1) {background-color: #09d9ff}
.setting .content ul.colors li:nth-of-type(2) {background-color: #f44336}
.setting .content ul.colors li:nth-of-type(3) {background-color: #009688}
.setting .content ul.colors li:nth-of-type(4) {background-color: #2196f3}
.setting .content ul.colors li:nth-of-type(5) {background-color: #8bc34a}


.setting .content article.option div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.setting .content article.option div span {
    background-color: var(--main-color);
    padding: 3px 20px;
    text-transform: capitalize;
    line-height: 1;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;
}

.setting .content article.option div span.active {
    opacity: 1;
}


/* popup overly style */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

/* pass sections page */
.pass-pages {
    position: fixed;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    z-index: 1000;
}

.pass-pages .pass {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
    position: relative
}

.pass-pages .pass::before,
.pass-pages .pass::after {
    position: absolute;
    left: 0;
    top: -8px;
    display: none;
    pointer-events: none;
}

.pass-pages .pass::before {
    content: attr(data-pass);
    transform: translateX(calc(-100% - 25px));
    width: 100px;
    background-color: var(--main-color);
    padding: 5px 10px;
    color: white;
    text-transform: capitalize;
    border-radius: 4px 0 0 4px;
}

.pass-pages .pass::after {
    content: "";
    transform: translateX(-25px);
    border: 14px solid;
    border-color: transparent transparent transparent var(--main-color);
}

.pass-pages .pass:hover {
    background-color: var(--main-color);
}

.pass-pages .pass:hover::before,
.pass-pages .pass:hover::after {
    display: block;
}

@media (max-width: 767px) {
    .pass-pages {
        display: none;
    }
}
/* End style special sections */


/*********************************************************************
************************** Style to project **************************
*********************************************************************/

/* Start style landding page */

.landding {
    height: 100vh;
    min-height: 500px;
    background-image: url(../images/landding-1.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 1s;
}

.landding::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

/* Start style navigation */

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

nav .logo svg {
   width: 120px;
}

nav .logo svg g {stroke: var(--main-color)}
nav .logo svg g circle {fill: var(--main-color)}
nav .logo svg > path {fill: var(--main-color)}

nav .toggler {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
    z-index: 2;
}

/* when click toggler button => add class active */
nav .toggler.active {
    color: var(--main-color)
}

nav .toggler.active ~ ul.links {
    width: 250px;
}

nav .toggler:hover {
    color: var(--main-color);
}

nav ul.links {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav ul.links li a {
    display: block;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: var(--main-transition);
}

nav ul.links li a.active,
nav ul.links li a:hover {
    color: var(--main-color)
}


@media (max-width: 767px) {
    nav ul.links {
        flex-direction: column;
        justify-content: flex-start;
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 80px;
        width: 0;
        transition: var(--main-transition);
        z-index: 1;
    }
    
    nav ul.links li a {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid #ccc;
    }

    nav .toggler {
        display: block;
    }
}

/* End style navigation */

/* start style Introdaction heading */

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white
}

.intro h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.4;
}

.intro h1 span {
    color: var(--main-color);
}

.intro p {
    line-height: var(--line-height);
    font-size: 18px;
}

@media (max-width: 767px) {
    .intro h1 {
        font-size: 24px;
    }

    .intro p {
        font-size: 16px;
    }
}

/* End style Introdaction heading */

/* End style landding page */

/* start style about us */

.about-us {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.about-us .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-us .container article {
    flex: 1
}

.about-us .content h2 {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 15px;
    text-transform: capitalize;
}

.about-us .content p {
    font-size: 18px;
    line-height: var(--line-height);
    color: var(--text-color);
}

.about-us .image svg {
    max-width: 100%;
    animation: anmation-top-down 1s linear  infinite alternate;
}

.about-us .image svg:hover {
    animation-play-state: paused;
}

/* media Quirys */
@media (max-width: 767px) {
    .about-us .container {
        flex-direction: column;
        align-items: stretch;
    }

    .about-us article {
        text-align: center;
    }

    .about-us .image svg {
        max-width: 350px
    }
}

/* Animation */
@keyframes anmation-top-down {
    to {
        transform: translateY(-25px) scale(1.05);
    }
}

/* End style about us */

/* Start style skills */

.skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
}

.skills article.skill {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 7px;
}

.skills article.skill:last-of-type {
    margin-bottom: 0;
}

.skills article.skill h3 {
    text-transform: uppercase;
    width: 120px;
}

.skills article.skill .progress {
    background-color: #f9f9f9;
    height: 30px;
    position: relative;
    border-radius: 100px;
    width: 100%;
}

.skills article.skill .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);
    border-radius: inherit;
    animation: anmation_skills 1.5s;
    animation-play-state: paused;
}

@media (max-width: 767px) {

    .skills article.skill {
        flex-direction: column;
    }

    .skills article.skill h3 {
        text-align: center;
    }
}

@keyframes anmation_skills {
    from {
        width: 0
    }
}

/* End style skills */

/* Start style Gallery */

.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.gallery .gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px
}

.gallery .gallery-images .image {
    height: 250px;
    cursor: pointer;
    padding: 4px; 
    background-color: #f6f6f6;
    border: 1px solid #eee;
    border-radius: 7px;
}

.gallery .gallery-images .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.popup-gallery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f6f6;
    z-index: 1001;
    padding: 25px;
}

.popup-gallery h4 {
    padding: 8px;
    background-color: #eee;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 25px;
}

.popup-gallery img {max-width: 100%}

.popup-gallery .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

@media (max-width: 767px) {
    .popup-gallery {
        width: 90%;
    }
}

/* End style Gallery */

/* Start style timeline */

.timeline {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #eee;
}

.timeline .time-content {
    position: relative;
    overflow: hidden;
    padding-top: 25px;
}

.timeline .time-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: var(--main-color);
}

.timeline .time-content .year {
    width: fit-content;
    margin: 25px auto;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 7px;
    clear: both;
}

.timeline .time-content article {
    background-color: white;
    width: calc(50% - 25px);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 7px;
    position: relative;
    clear: both;
}

.timeline .time-content article::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 25px;
}

.timeline .time-content article::after {
    content: "";
    border: 10px solid;
    position: absolute;
    top: 25px;
}

.timeline .time-content article.left {
    float: left
}

.timeline .time-content article.left::before {
    right: -35px;
}

.timeline .time-content article.left::after {
    right: 0;
    transform: translateX(100%);
    border-color: transparent transparent transparent #fff;
}

.timeline .time-content article.right {
    float: right
}

.timeline .time-content article.right::before {
    left: -35px;
}

.timeline .time-content article.right::after {
    left: 0;
    transform: translateX(-100%);
    border-color: transparent #fff transparent transparent;
}

.timeline .time-content article h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
    color: var(--main-color)
}

.timeline .time-content article p {
    color: var(--text-color);
    line-height: var(--line-height);
}

/* Media Quiry */
@media (max-width: 767px) {
    .timeline .time-content::before,
    .timeline .time-content article::before,
    .timeline .time-content article::after {
        display: none;
    }

    .timeline .time-content article {
        width: 100%;
        text-align: center;
    }
}

/* End style timeline */

/* Start style Features  */

.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.features .features-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 35px 25px
}

.features .feature .image {
    width: fit-content;
    margin: auto;
    padding: 4px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.features .feature .image img {
    width: 100px;
    height: 100px;
    border-radius: inherit;
}

.features .feature h3 {
    text-transform: capitalize;
    width: fit-content;
    margin: 15px auto 40px;
    position: relative;
}

.features .feature h3::before {
    content: "";
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 20px);
}

.features .feature p {
    color: var(--text-color);
    line-height: var(--line-height);
    text-align: center;
    width: 90%;
    margin: auto;
}

/* End style Features  */



/* Start style Testimonials  */

.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.testimonials::before,
.testimonials::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1
}

.testimonials::before{
    left: 0;
    background-color: var(--main-color);
}

.testimonials::after {
    right: 0;
    background-color: #333;
}

.testimonials .main-heading {
    -webkit-text-stroke-color: white;
    border: 2px solid white;
}

.testimonials .main-heading::before {
    -webkit-text-fill-color: white
}

.testimonials .monials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 30px
}

.testimonials .monials .testimonial {
    background-color: white;
    padding: 25px;
    border-radius: 7px;
}

.testimonials .testimonial > p {
    line-height: var(--line-height);
    color: var(--text-color);
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
}

.testimonials .testimonial > p::before,
.testimonials .testimonial > p::after {
    content: "\"";
    margin-inline-end: 3px;
    color: black;
    font-size: 1.2em;
}

.testimonials .testimonial .content {
    display: flex;
    gap: 15px;
    align-items: center;
}

.testimonials .testimonial .content .image {
    padding: 4px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.testimonials .testimonial .content .image img {
    width: 80px;
    height: 80px;
    border-radius: inherit;
}

.testimonials .testimonial .content h4 {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 10px;
}

.testimonials .testimonial .content span {
    color: var(--text-color);
    text-transform: capitalize;
}

/* End style Testimonials  */




/* Start style   */

/* End style   */